html {
    font-family: "Inter", sans-serif;
    background-color: #41323e;
    color: #e6e6e6;
}

h1 {
    font-size: 3.5em;
    align-content: center;
    text-align: center;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

p, li {
    margin-bottom: 1pt;
    font-size: 1.2em;
}

#mypc > #os > ul {
    font-size: 0.9em;
}

ul {
    list-style: none;
    margin-left: 1.2em;
    padding-left: 0;
}

#techs > li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "+ ";
}

main {
    background-color: #5f545e;
    padding: 10pt;
    padding-left: 15pt;
    padding-right: 15pt;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20pt;
    border-radius: 8pt;
}
